@import "@fontsource/poppins";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 255 50% 95;
    --color-foreground: 255 50% 5;
    --color-primary: 225 50% 90;
    --color-secondary: 225 50% 10;
    --color-tertiary: 285 80% 20;
    --color-accent: 165 80% 20;
  }
  .dark {
    --color-background: 225 50% 15%;
    --color-foreground: 255 50% 95;
    --color-primary: 225 50% 10;
    --color-secondary: 225 50% 90;
    --color-tertiary: 285 80% 80;
    --color-accent: 165 80% 80;
  }
}

html {
  @apply text-[10px];
}

body {
  @apply bg-background font-poppins text-[1.6rem] text-foreground;
}
